<%Page path="/hints/bits/header"%>

<%Styler text="Password rules" style="page-title"%>

Your password must be between 4 and 20 characters long. Do not use
spaces and other non-printable characters, letters, digits and
punctuation signs are ok.
<P>

Your password is not stored anywhere on the site (we use well
proved one-way hashing functions and only store "hash" of your
password which could not be decrypted to original value). Nobody
can retrieve it or steal it from the site. You would need your <A
HREF="reg-password-question.html">password question/password answer</A>
in order to set new password if you eve forget the existing one.
<P>

Do not use obvious, easy to guess passwords and do not use the same
password on all sites. Not all sites are so careful as we are.
<P>

Example of good password: <EM>FG82IK5</EM>
<P>

<%Page path="/hints/bits/footer"%>
