<%Admin authorize failurl="/admin/login.html"%>

Welcome to admin pages!
<P>

Shortcuts:
<UL>
<LI><A HREF="editpage.html?pagepath=/index.html">Site title page content editing</A>
<LI><A HREF="editpage.html?pagepath=/my/index.html">Member title page content editing</A>
</UL>
<P>

Or you can go to <A HREF="sitemap.html">complete site map</A>
to edit properties of any particular page.
<P>

You can view or edit <A HREF="users.html">users database</A>.
<P>

Don't forget to <A HREF="logoff.html">log off</A> when you've done.
<P>
